@import 'tailwindcss';

@layer base {
  :root {
    font-family:
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica,
      Arial,
      sans-serif,
      'Apple Color Emoji',
      'Segoe UI Emoji',
      Segoe UI Symbol;
    --background: #111111;
    --primary: #c42026;
  }
}

@layer utilities {
  .btn {
    @apply cursor-pointer rounded border border-slate-300 p-2 text-slate-700 transition-colors duration-200 hover:bg-slate-200 hover:text-slate-900;
  }

  .btn.active {
    @apply bg-slate-500 text-white;
  }
}
