:root {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    Segoe UI Symbol;
  --background: #111111;
  --primary: #c42026;
}

* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background: var(--background);
  padding: 1rem 0.5rem;
  max-width: 1080px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1 {
  margin-bottom: 1rem;
  font-weight: 500;
}

button {
  all: unset;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  border: 2px solid var(--primary);
  border-radius: 0.25rem;
  background-color: transparent;
  color: white;
  transition: all 0.2s ease;
}

button:hover,
button.active {
  background-color: var(--primary);
}
